/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	margin:0;
	padding: 0;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color:#FFFEF8;
}
.modal-open {
    overflow: hidden;
}
header {
	display: flex;
	flex-direction: column-reverse;
}
.sub-header {
	top:0;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 15px;
	padding: 1em 0 1em 0;
	width: 100%;
}
.in-header {
	display: flex;
	justify-content: space-between;
	margin: 1em 100px 0 100px;
	margin-bottom: 30px;
}
main {
	margin: 0 245px 0 245px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}
h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}
h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 25px;
	font-size: 1.2em;
}
nav a {
	color: black;
	text-decoration: none;
}
.login-active {
	font-weight: bold;
}
nav img {
	height: 22px;
	width: 22px;
}
#introduction {
	display: grid;
	align-items: center;
	margin: 5em 0 5em 0;
	grid-template-columns: 1fr 1fr ;
	gap: 72px;
}
#introduction figure {
	width: fit-content;
}
#introduction img {
	display: block;
	margin: 0px;
	width: 100%;
}
#introduction article {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 1em;
}
.title-projets {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap : 15px;
	margin: 5em 0 4em 0;
}
.modifier-editor {
	display: flex;
	align-items: center;
	gap: 15px;
}
.modifier-editor button {
	border: none;
	background-color: #FFFEF8;
	cursor: pointer;
}
.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 20px;
}
.filters-buttons {
	border: 1px solid #1D6154;
	border-radius: 60px;
	color:#1D6154;
	font-family: Syne;
	font-weight: 700;
	font-size: 16px;
	text-decoration: none;
	background-color: #FFFEF8;
	height: 37px;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	align-items: center;	
	cursor: pointer;
}
.filters-buttons:hover {
	background-color: #1D6154;
	color:white
}
.filters-button-clicked {
	background-color: #1D6154;
	color:white
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;
	object-fit: cover;
}
#contact,
#login {
	width: 50%;	
	margin: auto;
}
#contact > *,
#login > * {
	text-align: center;
}
#contact h2,
#login h2{
	margin-bottom: 20px;
	margin-top: 70px;
}
#contact form,
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#contact input,
#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
#forgot-password {
	display: flex;
	justify-content: center;
	color: black;
	margin-bottom: 300px;
}
footer {
	height:60px;
	background-color: white;
	padding: 1em 0 1em 0;
	box-sizing: border-box;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
}

/**style modal**/
.modal {
	position: fixed; 
	z-index: 1; 
	padding-top: 50px; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal-content,
.modal-content-snd {
	display: flex;
	left: 50%;
	width: 630px;
	height: 688px;
	background-color: white;
	border-radius: 10px;
	z-index: 1;
	padding: 20px 20px 40px 20px;
	flex-direction: column;
	box-sizing: border-box;
	justify-content: space-between;
	gap: 30px;
}
.modal-content-close {
	display: flex;
    flex-direction: row-reverse;
}
.modal-content-close-back {
	display: flex;
	justify-content: space-between;
}
#modal-back {
	border: none;
	background-color: white;
	font-size: larger;
	cursor: pointer;
}
.modal-title {
	font-size: 26px;
	text-align: center;
}
.gallery-modal {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 9px;
	grid-row-gap: 20px;
	padding: 25px 85px 25px 85px;
	box-sizing: border-box;
	max-height: max-content;
	overflow: scroll;
}
.gallery-modal img {
	width: 100%;
}
.modal-trash-can {
	padding: 3px;
	color: white;
	background-color: black;
	height: 17px;
	width: 17px;
	border:none;
	font-size: 10px;
	border-radius: 2px;
	position: fixed;
	z-index: 1;
	margin-top: 6px;
	margin-left: 55px;
	cursor: pointer;
}
.modal-add-photo,
#modal-valider {
	padding: 10px 50px 10px 50px;
	color: white;
	background-color: #1D6154;
	border-radius: 50px;
	border: none;
	font-size: 14px;
	font-family: syne;
	cursor: pointer;
}
#modal-valider {
	width: 237px;
	background-color: #A7A7A7;
}
#modal-close,
#modal-close-snd {
	font-size: 24px;
	border: none;
	background-color: white;
	font-size: 24px;
	color: black;
	cursor: pointer;
}
.form-modal {
	display: flex;
	justify-content: center;
}
.form-modal form {
	display: flex;
	flex-direction: column;
	gap: 1em;
	text-align: left;
	width: 420px;
}
.drop-area {
	z-index: 1;
	width: 420px;
	height: 169px;
	background-color: #E8F1F6;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
}
.drop-area i {
	color: #CBD6DC;
	font-size: 68px;
}
.drop-area.dragover {
    border-color: #333;
    background-color: #eee;
}
.before-img-drop {
	display: flex;
    flex-direction: column;
	align-items: center;
	padding: 20px 0 20px 0;;
	gap: 7px;
}
#miniature {
	display: flex;
	justify-content: center;
}
#miniature img {
    z-index: 2;
    max-height: 169px;
    max-width: 420px;
}
.ajouter-photo-button {
	border-radius: 50px;
	font-family: Work Sans;
	font-size: 14px;
	color:#306685;
	background-color: #CBD6DC;
	height: 36px;
	width: 173px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.button-container {
    position: relative;
    display: inline-block;
}
#img-add-photo {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
#title-add-photo,
#category-add-photo {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form-modal label {
	margin: 1em 0 0em 0;
}
.form-modal select {
	height: 50px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#category-add-photo,
#title-add-photo {
	font-family: Work Sans;
	font-size: 14px;
	color:#444444;
	outline: none;
}
.modal-footer {
	display: flex;
	flex-direction: column;
	width: fit-content;
	width: 100%;
	align-items: center;
}
hr {
	color: #b3b3b3;
	size:1px;
	width: 420px;
	box-sizing: border-box;
	margin: 40px 0px 30px 0px;
}


